%br
%a#return-btn.btn.success Return
%a.btn{:href => "/issue/new?item=#{item.id}"} Report Issue
%a.btn.scrollPage{:href => '#reviews'} View Feedback
%a.btn.scrollPage{:href => '#end', :onclick => 'setTimeout("$("#revarea").focus()",5000);'} Review
