-# this should be inactive if already borrowed
-# and alert should then show up
%br
- if not @user
  - if item.available?
    %a.btn.primary{:href=>"/login"} Log In To Borrow
  - else
    %span.btn.disabled Currently On Loan
- else
  - if item.available?
    %span#borrow-btn.btn.primary Borrow
  - else
    %span.btn.disabled Currently On Loan
%a.btn.scrollPage{:href => '#reviews'} View Feedback

- if Review.first( :user => current_user, :item => @item).nil?
  %a.btn.scrollPage{:href => '#end', :onclick => 'setTimeout("$("#revarea").focus()",5000);'} Review
- else
  %a.btn.scrollPage.disabled Thanks for reviewing

- if logged_in and not item.available?
  - if item.alerts.first(:user => current_user)
    %a#alert-btn.hide{:href => '#'} Alert when available
    %span#alert-okay We'll let you know when available.
  - else
    %a#alert-btn{:href => '#'} Alert when available
    %span#alert-okay.hide We'll let you know when available.
