-# this should be inactive if already borrowed
-# and alert should then show up
%br
- if item.available?
  %span#borrow-btn.btn.primary Borrow
- else
  %span.btn.primary.disabled Borrow
%a.btn.scrollPage{:href => '#reviews'} View Feedback
%a.btn.scrollPage{:href => '#end', :onclick => 'setTimeout("$("#revarea").focus()",5000);'} Review
- if not item.available?
  %a{:href => '#'} Alert when available
