%fieldset
  %label{:for => 'name'} 
    %b Name
  .input.clearfix
    %input#name.xlarge.required{:type => 'text', :name=>"name", :value => @item.name || ""}
%fieldset
  %label{:for => 'value'}
    %b Worth
  .input.clearfix
    %input#value.xlarge.required{:type => 'text', :name=>'value', :value => @item.printvalue || ""}
    USD
%fieldset
  %label{:for => 'max_loan'}
    -# Make this smart about how to enter info
    %b Max Loan Time
  .input.clearfix
    %input#max-loan.xlarge.required{:type => 'text', :name=>'max_loan', :value => @item.max_loan || ""}
    days
%fieldset
  %label{:for => 'desc'}
    %b Description
  .input.clearfix
    %textarea#description.xlarge{:name=>'desc'}
      = @item.desc || ""
%fieldset
  %label{:for => 'image'}
    %b Item Image
  -if @item.image?
    %img{:src => @item.image.icon60, :width => 60, :height => 60, :style => 'border: 2px solid #777; margin: 10px; margin-left: 100px;'}
  .input.clearfix
    %input#thumb{:type => 'file', :name => 'image'}

