.item-small
  %a.no-decor{:href => "/item/#{item.id}"}
    %img.thumbnail{:src => item.image.thumb.url, :width => 210, :height => 150}
    .holder= item.name
    - if item.available?
      %span.label Available
    - else
      %br
