%h2 
  Shared Items
  - if @tag
    ="in " + @tag.name
= haml :'helpers/pager', :locals => {:page => @page, :pages => @pages}
%ul.media-grid
  - @items.each do |item|
    %li
      = haml :'item/_item', :locals => {:item => item}
= haml :'helpers/pager', :locals => {:page => @page, :pages => @pages}
