:javascript
  $(document).ready(function() {
    $("#sign_up_form").validate({
      errorClass: 'help-inline',
      errorElement: 'span',
      highlight: function(element, errorClass) {
        $(element).parent().addClass("error");
      },
      success: function(label) {
        label.parent().removeClass("error");
      },
      rules: {
        password_repeat: {
          equalTo: "#password",
        }
      }
    });
  });

/
  Validation on this page is done via jQuery Validation Plugin.
  See: http://rocketsquared.com/wiki/Plugins/Validation/validate#options

  Basically, all the magic happens via the class names of the input fields.

%form#sign_up_form{:method=>"POST"}
  =haml :"users/_editform"
  %fieldset
    .input.clearfix
      %input.submit.btn{:type => 'submit', :value => 'Sign Up'}
