:javascript
  $(document).ready(function() {
    $("#sign_up_form").validate({
      errorClass: 'help-inline',
      errorElement: 'span',
      highlight: function(element, errorClass) {
        $(element).parent().addClass("error");
      },
      success: function(label) {
        label.parent().removeClass("error");
      },
      rules: {
        password_repeat: {
          equalTo: "#password",
        }
      }
    });
  });

/
  Validation on this page is done via jQuery Validation Plugin.
  See: http://rocketsquared.com/wiki/Plugins/Validation/validate#options

  Basically, all the magic happens via the class names of the input fields.

%form#sign_up_form{:method=>"POST"}
  %input{:type=>"hidden", :name=>"step", :value=>"1"}
  %fieldset
    %label{:for => 'name'} 
      %b Full Name
    .input.clearfix
      %input#name.xlarge.required{:type => 'text', :name=>"name"}
    %label{:for => 'uname'}
      %b Email Address
    .input.clearfix
      %input#uname.xlarge.required.email{:type => 'text', :name=>"email"}
  %fieldset
    %label{:for => 'password'}
      %b Password
    .input.clearfix
      %input#password.xlarge.required{:type => 'password', :name=>'password'}
    %label{:for => 'pword'} 
      %b Repeat Password
    .input.clearfix
      %input#password_repeat.xlarge{:type => 'password', :name=>'password_repeat'}
  %fieldset
    %label{:for => 'address'}
      %b Address
    .input.clearfix
      %input#address.xlarge.required{:type => 'text', :name=>'address'}
    %label{:for => 'city'} 
      %b City
    .input.clearfix
      %input#city.xlarge.required{:type => 'text', :name=>'city'}
    %label{:for => 'zip'} 
      %b Zip Code
    .input.clearfix
      %input#zip.xlarge.required{:type => 'text', :name=>'zip'}
    %label{:for => 'state'} 
      %b State
    .input.clearfix
      %select#state.required
        %option{:value=>"ohio"} OHIO!
  %fieldset
    .input.clearfix
      %input.submit.btn{:type => 'submit', :value => 'Sign Up'}
