:javascript
  $(document).ready(function() {
    $("#sign_up_form").validate({
      errorClass: 'help-inline',
      errorElement: 'span',
      highlight: function(element, errorClass) {
        $(element).parent().addClass("error");
      },
      success: function(label) {
        label.parent().removeClass("error");
      },
      rules: {
        pword_repeat: {
          equalTo: "#pword",
        }
      }
    });
  });

/
  Validation on this page is done via jQuery Validation Plugin.
  See: http://rocketsquared.com/wiki/Plugins/Validation/validate#options

  Basically, all the magic happens via the class names of the input fields.

%form#sign_up_form
  %fieldset
    %label{:for => 'name'} 
      %b Full Name
    .input.clearfix
      %input#name.xlarge.required{:type => 'text'}
    %label{:for => 'uname'}
      %b Email Address
    .input.clearfix
      %input#uname.xlarge.required.email{:type => 'text'}
  %fieldset
    %label{:for => 'pword'}
      %b Password
    .input.clearfix
      %input#pword.xlarge.required{:type => 'password', :name=>'pword'}
    %label{:for => 'pword'} 
      %b ReEnter Password
    .input.clearfix
      %input#pword_repeat.xlarge{:type => 'password', :name=>'pword_repeat'}
  %fieldset
    %label{:for => 'address'} Address
    .input.clearfix
      %input#address.xlarge{:type => 'text'}
    %label{:for => 'city'} City
    .input.clearfix
      %input#city.xlarge{:type => 'text'}
    %label{:for => 'zip'} Zip Code
    .input.clearfix
      %input#zip.xlarge{:type => 'text'}
    %label{:for => 'state'} State
    .input.clearfix
      %select#state
  %fieldset
    .input.clearfix
      %input.submit.btn{:type => 'submit', :value => 'Sign Up'}
