%input{:type=>"hidden", :name=>"step", :value=>"1"}
%fieldset
  %label{:for => 'name'} 
    %b Full Name
  .input.clearfix
    %input#name.xlarge.required{:type => 'text', :name=>"name", :value=>@user.name}
  %label{:for => 'uname'}
    %b Email Address
  .input.clearfix
    %input#uname.xlarge.required.email{:type => 'text', :name=>"email", :value=>@user.email}
%fieldset
  %label{:for => 'password'}
    %b Password
  .input.clearfix
    %input#password.xlarge.required{:type => 'password', :name=>'password'}
  %label{:for => 'pword'} 
    %b Repeat Password
  .input.clearfix
    %input#password_repeat.xlarge{:type => 'password', :name=>'password_repeat'}
%fieldset
  %label{:for => 'address'}
    %b Address
  .input.clearfix
    %input#address.xlarge.required{:type => 'text', :name=>'address', :value=>@user.address}
  %label{:for => 'city'} 
    %b City
  .input.clearfix
    %input#city.xlarge.required{:type => 'text', :name=>'city', :value=>@user.city}
  %label{:for => 'zip'} 
    %b Zip Code
  .input.clearfix
    %input#zip.xlarge.required{:type => 'text', :name=>'zip', :value=>@user.zip}
  %label{:for => 'state'} 
    %b State
  .input.clearfix
    %select#state.required{:name=>"state"}
      %option{:value => "Alabama", :id => "Alabama", :selected=>@user.state=="selected"?"true":""}Alabama
      %option{:value => "Alaska", :id => "Alaska", :selected=>@user.state=="selected"?"true":""}Alaska 
      %option{:value => "Arizona", :id => "Arizona", :selected=>@user.state=="selected"?"true":""}Arizona
      %option{:value => "Arkansas", :id =>"Arkansas", :selected=>@user.state=="selected"?"true":""}Arkansas 
      %option{:value => "California", :id =>"California", :selected=>@user.state=="selected"?"true":""}California 
      %option{:value => "Colorado", :id =>"Colorado", :selected=>@user.state=="selected"?"true":""}Colorado 
      %option{:value => "Connecticut", :id =>"Connecticut", :selected=>@user.state=="selected"?"true":""}Connecticut 
      %option{:value => "Delaware", :id =>"Delaware ", :selected=>@user.state=="selected"?"true":""}Delaware 
      %option{:value => "Florida", :id =>"Florida", :selected=>@user.state=="selected"?"true":""}Florida
      %option{:value => "Georgia", :id =>"Georgia", :selected=>@user.state=="selected"?"true":""}Georgia 
      %option{:value => "Hawaii", :id =>"Hawaii", :selected=>@user.state=="selected"?"true":""}Hawaii 
      %option{:value => "Idaho", :id =>"Idaho", :selected=>@user.state=="selected"?"true":""}Idaho 
      %option{:value => "Illinois", :id =>"Illinois", :selected=>@user.state=="selected"?"true":""}Illinois 
      %option{:value => "Indiana", :id =>"Indiana", :selected=>@user.state=="selected"?"true":""}Indiana 
      %option{:value => "Iowa", :id =>"Iowa", :selected=>@user.state=="selected"?"true":""}Iowa 
      %option{:value => "Kansas", :id =>"Kansas", :selected=>@user.state=="selected"?"true":""}Kansas 
      %option{:value => "Kentucky", :id =>"Kentucky", :selected=>@user.state=="selected"?"true":""}Kentucky 
      %option{:value => "Louisiana", :id =>"Louisiana", :selected=>@user.state=="selected"?"true":""}Louisiana
      %option{:value => "Maine", :id =>"Maine", :selected=>@user.state=="selected"?"true":""}Maine 
      %option{:value => "Maryland", :id =>"Maryland", :selected=>@user.state=="selected"?"true":""}Maryland 
      %option{:value => "Massachusetts", :id =>"Massachusetts", :selected=>@user.state=="selected"?"true":""}Massachusetts 
      %option{:value => "Michigan", :id =>"Michigan", :selected=>@user.state=="selected"?"true":""}Michigan 
      %option{:value => "Minnesota", :id =>"Minnesota", :selected=>@user.state=="selected"?"true":""}Minnesota 
      %option{:value => "Mississippi", :id =>"Mississippi", :selected=>@user.state=="selected"?"true":""}Mississippi 
      %option{:value => "Missouri", :id =>"Missouri", :selected=>@user.state=="selected"?"true":""}Missouri 
      %option{:value => "Montana", :id =>"Montana", :selected=>@user.state=="selected"?"true":""}Montana 
      %option{:value => "Nebraska", :id =>"Nebraska", :selected=>@user.state=="selected"?"true":""}Nebraska 
      %option{:value => "Nevada", :id =>"Nevada", :selected=>@user.state=="selected"?"true":""}Nevada 
      %option{:value => "New Hampshire", :id =>"Newhampshire", :selected=>@user.state=="selected"?"true":""}New Hampshire
      %option{:value => "New Jersey", :id =>"Newjersey", :selected=>@user.state=="selected"?"true":""}New Jersey
      %option{:value => "New Mexico", :id =>"Newmexico", :selected=>@user.state=="selected"?"true":""}New Mexico
      %option{:value => "New York", :id =>"Newyork", :selected=>@user.state=="selected"?"true":""}New York
      %option{:value => "North Carolina", :id =>"Northcarolina", :selected=>@user.state=="selected"?"true":""}Nort Carolina
      %option{:value => "North Dakota", :id =>"Northdakota", :selected=>@user.state=="selected"?"true":""}North Dakota 
      %option{:value => "Ohio", :id =>"Ohio", :selected=>@user.state=="selected"?"true":""}Ohio 
      %option{:value => "Oklahoma ", :id =>"Oklahoma", :selected=>@user.state=="selected"?"true":""}Oklahoma 
      %option{:value => "Oregon", :id =>"Oregon", :selected=>@user.state=="selected"?"true":""}Oregon 
      %option{:value => "Pennsylvania", :id =>"Pennsylvania", :selected=>@user.state=="selected"?"true":""}Pennsylvania 
      %option{:value => "Rhode Island", :id =>"Rhodeisland", :selected=>@user.state=="selected"?"true":""}Rhode Island 
      %option{:value => "South Carolina", :id =>"Southcarolina", :selected=>@user.state=="selected"?"true":""}South Carolina 
      %option{:value => "South Dakota", :id =>"Southdakota", :selected=>@user.state=="selected"?"true":""}South Dakota 
      %option{:value => "Tennessee", :id =>"Tennessee", :selected=>@user.state=="selected"?"true":""}Tennessee 
      %option{:value => "Texas", :id =>"Texas", :selected=>@user.state=="selected"?"true":""}Texas 
      %option{:value => "Utah", :id =>"Utah", :selected=>@user.state=="selected"?"true":""}Utah 
      %option{:value => "Vermont", :id =>"Vermont", :selected=>@user.state=="selected"?"true":""}Vermont 
      %option{:value => "Virginia", :id =>"Virginia", :selected=>@user.state=="selected"?"true":""}Virginia 
      %option{:value => "Washington", :id =>"Washington", :selected=>@user.state=="selected"?"true":""}Washington 
      %option{:value => "West Virginia", :id =>"Westvirginia", :selected=>@user.state=="selected"?"true":""}West Virginia 
      %option{:value => "Wisconsin", :id =>"Wisconsin", :selected=>@user.state=="selected"?"true":""}Wisconsin
      %option{:value => "Wyoming", :id =>"Wyoming", :selected=>@user.state=="selected"?"true":""}Wyoming
      %option{:value=>"", :id=>"Choose One!",:selected=>@user.state==""?"true":""} Choose One!
