:javascript
  $(document).ready(function() {
    $("#sign_up_form").validate({
      errorClass: 'help-inline',
      errorElement: 'span',
      highlight: function(element, errorClass) {
        $(element).parent().addClass("error");
      },
      success: function(label) {
        label.parent().removeClass("error");
      },
      rules: {
        password_repeat: {
          equalTo: "#password",
        }
      }
    });
  });

%h1 Edit Profile
- if flash[:error]
  .alert-message.error=flash[:error]
%form#edit_form{:method=>"POST"}
  =haml :"user/_editform"
  %fieldset
    .input.clearfix
      %input.submit.btn{:type => 'submit', :value => 'Edit User'}
