//VARIABLES


//MIXINS

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.fade-transition (@duration: .6s, @property: color) {
  -o-transition-duration: @duration;
  -o-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-property: @property;
}

//GENERAL STYLES

.right {
  float: right;
}

.big {
  height: 10px;
  font-size: 6em;
  color: #0069d6;
  padding: 160px;
  &:hover {
    color: lighten(#0069d6, 25%);
    text-decoration: none;
  }
}

.hilite {
  border: 7px solid #333;
  .rounded-corners(9px); 
}

.no-decor {
  .fade-transition();
  &:hover {
    text-decoration: none;
    color: #11aadd;
  }
}

.tiny-pic {
  border: 1px solid #aaa;
  position: relative;
  top: 0.5em;
}

//LAYOUT STYLES

.cubed {
  background-image: url(/cubes.png);
}

.header {
  padding-top: 15px;
  height: 70px;
  border-bottom: 1px solid #ddd;
}

.footer {
  margin-top: 10px;
  height: 150px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
}

#logo {
  .fade-transition(.6s, opacity);
  position: absolute;
  &:hover {
    opacity: 0;
    text-decoration: none;
  }
}

//INDEX STYLES
.card {
  background-attachment: fixed !important;
  height: ~`$(window).height() + 'px'`;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  p {
    font-size: 14px;
    line-height: 1.3em;
  }
  h1, h2 {
    text-shadow: 0 -1px 1px #cdcdcd;
  }
}

div.card div.container {
    height:auto;
    margin-bottom:0px;
}
div.footer {
    clear:both;
}

#card1 {
  border-bottom: 2px dashed #000;
}

#card2 {
  background-color: #222;
  background-image: url(../dark_leather.png);
  color: #fff;
  h1, h2 {
    color: #ddd;
    text-shadow: 0 -1px 1px #262626;
  }
  border-bottom: 2px dashed #000;
}

#card3 {
  background-image: url(../pinstripe.png);
  
  border-bottom: 2px dashed #000;
}

#card4 {
  color: #fff;
  background-color: #003153;//TODO: put this in variables instead as prussian blue
  background-image: url(../pool_table.png);
h1 {
    color: #ddd;
    text-shadow: 0 -1px 1px #262626;
  }
}

.index-funnel {
  text-align: center; 
  clear: both; 
  margin: 5px; padding: 5px;
}


//ITEM PAGE STYLES

.item-small {
  .holder {
   width: 210px;
   height: 1.5em;
   overflow: hidden;
   border-bottom: 1px solid #eee;
   margin-bottom: 2px;
  }
}

span.vote {
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

div#similar {
  margin-top: 10px;
}

div#reviews {
  position: relative;
  margin-top: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 10px #888;
  padding: 20px;
  .rounded-corners(10px);

  .rev {
    margin: 4px;
    border: 1px solid #ddd;
    .rounded-corners(10px);
    box-shadow: inset 0 0 4px #ccc;
    background-color: #fafafa;
    padding: 8px; 
    line-height: 1.5em;
    
    textarea {
      padding-top: 5px;
      height: 120px;
      width: 550px;
      margin-bottom: 4px;
    }
    
    .span5 {
      position: relative;
      top: -10px;
    }
    
    .bd {
      margin-top: 4px;
      width: 80%;
    }
  }
}
