-#:onclick => 'window.location="/signup"',
.alert-message.info.fade.in{ 'data-alert' => 'alert'}
  %a.close{:href=>"#"} x
  %strong Hey 
  you haven't signed up yet! Click this bar to start sharing.

%h1 Share
.well
  Stuff
%h1 Borrow
.well
  Stuff
%h1 Community
.well
  Stuff
%h1 About
.well
  Stuff
