%form#login_form{:method => "POST"}
  %fieldset
    %label{:for => 'uname'} Email Address
    .input
      %input#uname.xlarge{:type => 'text', :name => 'email'}
    %br
    %label{:for => 'pword'} Password
    .input
      %input#pword.xlarge{:type => 'password', :name => 'password'}
    %br
    .input
      %input.submit.btn{:type => 'submit', :value => 'Login'}
      %a{:href => '#'} forgot password
